<ion-card-header color="light">
  <img src="https://upload.wikimedia.org/wikipedia/en/c/c8/Rick_and_Morty_logo.png" alt="rickmortyimage" class="header-image">
</ion-card-header>

<ion-content >
  <ion-card [routerLink]="['/characters']">
    <ion-card-title>Characters</ion-card-title>  
    <img src="https://www.tonica.la/__export/1595702332011/sites/debate/img/2020/07/25/rick-and-morty-escritores-trabajan-en-la-temporada-6.jpg_1902800913.jpg" alt="charactersimage" class="card-image">            
  </ion-card>
  <ion-card [routerLink]="['/planets']">
    <ion-card-title>Planets</ion-card-title>
    <img src="https://i.ytimg.com/vi/BSymgfwoAmI/maxresdefault.jpg" alt="planetsimage" class="card-image">
  </ion-card>
  <ion-card [routerLink]="['/episodes']">
    <ion-card-title>Episodes</ion-card-title>
    <img src="https://images.genius.com/d043f8f4c06f117c3efeec06dc8761dd.1000x1000x1.jpg" alt="placesimage" class="card-image">
  </ion-card>
</ion-content>

<ion-footer>
<ion-toolbar color="light">
  <label>Rick & Morty Mobile Application</label>
</ion-toolbar>
</ion-footer>
